@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background: #eee;
}

.wrapper {
	text-align: center;
	margin-top: 20%;
	position: relative;
}

input {
	border: none;
	outline: none;
	padding: 10px 30px;
	border-radius: 5px;
	box-shadow: inset 4px 4px 4px #bebebe, inset 4px 4px 4px #eee;
	margin: 20px;
}

#generate {
	border: none;
	outline: none;
	padding: 8px 20px;
	cursor: pointer;
	box-shadow: 4px 4px 4px #bebebe;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	border-radius: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#copyPass {
	border: none;
	outline: none;
	padding: 8px 20px;
	cursor: pointer;
	box-shadow: 4px 4px 4px #bebebe;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	border-radius: 5px;
}

#generate:active {
	background: #000;
	color: #fff;
}

#copyPass:active {
	background: #5f27cd;
	color: #fff;
}

i {
	margin-right: 5px;
}

.modal {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	margin-top: 10%;
	transition: all 0.5s ease-in-out;
	transform: scale(0);
}

.modal-content {
	background: #5f27cd;
	width: 500px;
	height: 400px;
	margin: auto;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	font-size: 50px;
	text-align: center;
	position: relative;
}

.modal-content i {
	font-size: 70px;
}

#passConfirm {
	font-size: 20px;
}

#close {
	background: none;
	border: none;
	outline: none;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 30px;
}